
  /*header and navi*/
  * {
    margin: 0px;

  }
  
  .nav {
    height: 100px;
    width: 100%;
    background-color: #4d4d4d50;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    font-family: 'Kalam', cursive;
    color: #fff;
    padding: 30px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 40px 25px 10px 10px;
    font-size: 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  .nav-check{
      margin-left: 180px;
  }
  .nav-links{
      margin-right:10px ;
  }
  .nav-title{
      margin-left: 50px;
  }
  .text-header{
    color:rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    margin-left: 200px;
    margin-top: 100px;
    font-size: 150px;
 }
 .text-header1{
   color:rgb(255, 255, 255);
   font-family: 'Raleway', sans-serif;
   font-size: 50px;
   margin-left: 260px;
 }
  @media (max-width:800px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    .nav > .nav-header > .nav-title{
        padding: 10px 0px 0px 20px;
        margin: 0px;
    }
    .text-header{
      color:rgb(252, 252, 252);
      font-family: 'Raleway', sans-serif;
      text-align: center;
      margin-top: 100px;
      margin-left: 0px;
      font-size: 100px;
   }
   .text-header1{
     color:rgb(255, 255, 255);
     font-family: 'Raleway', sans-serif;
     font-size: 50px;
     text-align: center;
     margin-left: 0px;
   }
  }
  .navlogo{
      height: 25px;
      width: 25px;
  }
  .nav-links{
      float: right;
      margin-right: 50px;
  }

.headerbar{
    width: 100%;
    height:600px;
    background-image: url('img2/head.png') ;
    align-items: center;
    background-size: cover;
}
/*---------------------------------------------------*/
/*css service conainer*/
.container{
  font-family: 'Raleway', sans-serif;
 background-color:#E2EAF0;
 width: 80%;
 margin: 100px auto;
 display: flex;
 flex-wrap: wrap;
}
.contimg1{
 width: 50%;
 height: 450px;
 background-image: url('img2/img1.jpg');
 background-size: cover;
}
.contimg2{
  width: 50%;
 height: 450px;
 background-image: url('img2/img2.JPG');
 background-size: cover;
}
.contimg3{
  width: 50%;
 height: 450px;
 background-image: url('img2/img3.jpg');
 background-size: cover;
}
.contimg4{
  width: 50%;
 height: 450px;
 background-image: url('img2/img4.jpg');
 background-size: cover;
}
.gen{
  width: 50%;
  height: 400px;
}
.gen1{
  width: 50%;
 height: 400px;
}
.gen2{
  width: 50%;
 height: 400px;
}
.gen3{
  width: 50%;
 height: 400px;
}
.hyd{
  color:#EBC33C ;
  text-align: center;
  padding-top: 10px;
}
.hyd2{
  color: #01B3A7;
  margin-left: 60px;
  font-size: 18px;
  padding-top: 10px;
}
.pyd{
  margin-left:120px;
  font-size: 12px;
  padding-top: 10px;
}
.Button-read{
	background-color:#c49d48;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:16px;
	padding:10px 46px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  float: right;
  margin:30px 20px 0px 0px ;
}
.Button-read:hover {
	background-color:#c49d48;
}
.Button-read:active {
	position:relative;
	top:1px;
}
@media (max-width:800px) {
  .contimg1{
    width: 100%;
    order: 1;
   }
   .contimg2{
    width: 100%;
    order: 3;
   }
   .contimg3{
    width: 100%;
    order: 5;
   }
   .contimg4{
    width: 100%;
    order: 7;
   }
   .gen{
    width: 100%;
    order: 2;
    text-align: center;
   }
   .gen1{
    width: 100%;
    order: 4;
    text-align: center;
   }
   .gen2{
    width: 100%;
    order: 6;
    text-align: center;
   }
   .gen3{
    width: 100%;
    order: 8;
    text-align: center;
   }
   .hyd2{
    margin: 0px;
  }
  .pyd{
    margin: 0px;
  }
  .Button-read{
    float: none;
  }
}
/* ------------Start Footer------------ */



.section7{

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.section7 h1{
 color: #688095;
 font-size: 24px;
    margin-bottom: 30px;
}

.ft{
    background-image: url(img2/twil.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    padding: 2%;
    margin-top: 10%;
    margin-bottom: 80px;
 }
 .ft1con{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  vertical-align: middle;
  margin: auto;
  

 }
 .ft1con input{
  flex-basis: 70%;
  height: 61px;
  width: 300px;
  text-align: center;
}

 .ft1con button{
  flex-basis: 25%;    
  background:#C49D48;
  border:none; 
  height: 65px;
  width: 100px;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  }

@media (max-width: 900px){
  .ft1con{
    width: 100%;
  }
  .ft1con input{
  flex-basis: 100%;
  height: 61px;

 }
 .ft1con button{
  flex-basis: 100%;
  height: 61px;
 }
 }
 
.footer{
  display: flex;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-bottom: 60px;
}
.footer p{

  font-size: 13px;
  font-family:sans-serif;
}

.f1{
  flex-basis: 33.33%;
   text-align: left;
   margin-left: -67px;
}
.f2{
  flex-basis: 33.33%;
  margin-left: 80px;
}
.f3{
  flex-basis: 33.33%;
  margin-left: -80px;
  text-align: left;
}
.f3 p{
  color: #A29D9D;
  margin-bottom: 15px;
}
.f3 h3{
  font-family: Arial;
  font-size: 15px;
}
.footer h2{
  margin-bottom: 30px;
  color: #688095;
  font-family: Arial;
  font-size: 20px;
}
.f2 ul{
  list-style: none;
  text-align: left;

}
.f2 ul a{
 text-decoration: none;
 color: #AAA9A9;
}
.f2 ul li a:hover{
 color: #EFD6AC;
}
.footer i{
  margin: 2% 5%;
  font-size: 10px;
  
}

.lastft{
  background: #688095;
  width: 100%;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  color: #CCCCCC;
}
.lastul ul li{
  float: left;
  list-style: none;
  margin: 0% 3%;
  margin-top: 7px;
  font-family: Arial;
}

.lastspan{
  flex-basis: 30%;
  margin-left: 10%;
  margin: 0 10%;
  font-family: Arial;
  margin-top: 7px;
}
.lastul{
  flex-basis: 50%;
}

.lastfooter{
  flex-basis: 100%;
  color: #fff;
  width: 100%
}



@media (max-width: 900px){
  .f1{
    flex-basis: 100%;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 30px;
  }
 
  .f2{
    flex-basis: 100%;
    margin-bottom: 20px;
    margin-left: -42%;
  }
  .f2 ul{
    margin-left: 50%;
  }
  .f3{
    flex-basis: 100%;
    margin-bottom: 20px;
    margin-left: 40px;
  }
  .lastft{
    height: 10vh;
  }
  
}

/* ------------End Footer------------ */
